<%- include('./partials/head') %>

    <div class="card">
      <article>
        <header>
          <h1><%= member.name %></h1>
          <p><%= member.bio.html %></p>
        </header>
        <body>
  
          <img src='images/IMG_3225 2.jpeg' alt="headshot">
        
          <dl>
            <dt>CSS</dt><dd>★★☆☆☆</dd>           
            <dt>HTML</dt><dd>★☆☆☆☆</dd>
            <dt>JavaScript</dt><dd>☆☆☆☆☆</dd>
          </dl>

      </article>
    </div>
  </body>
</html>  


<%- include('./partials/foot') %>
