body {
  height:100vh;
  font-family: open sans; 
  display:flex;
  justify-content:center;
  align-items:center;
  background-color: lightgray;
}

article {
  width:50vw;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  color:#FFFFFF;
  background:rgb(255, 192, 203); 
  background: linear-gradient(#DB7093,#FFE4E1) ;
  box-shadow:0 0 20px 20px #A0A0A0;
  border-radius:1rem;
  position: relative;
  padding-bottom: 60px;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
}

h1 {
  margin:2rem 0 1rem;
  color: #000000;
  font-family:open sans; 
}

p { 
  text-align: center;
  width: 80%;
}

img {
  width:10em;
  border-radius:10em;
  border:5px solid #FFE4E1;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:center;
  top:2rem;
}

dl {
width:100%;
  display:grid;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  justify-items:center;
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -3rem;
  margin-bottom: 0;
  text-align: center; 
}

dt{
  font-weight: bold;
  border-top: 1px solid #FFFFFF;
  padding-top: .25rem;
  margin-top: .35rem;
}

dt:nth-of-type(1){ grid-area: html-dt; }
dt:nth-of-type(2){ grid-area: css-dt; }
dt:nth-of-type(3){ grid-area: js-dt; }

dd {
  margin:0;
  padding-left:.3rem;
  transition:.25s .3s;
  color:#FFFFFF;
}



